#about section.about-hero {
  background-image: url(/public/images/about-wp.jpg);
  background-size: cover;
}

@media screen and (min-width: 960px) {
  #about {
    padding-top: 3rem;
  }
  #about div.tag-container {
    background: rgba(242, 247, 242, 0.5);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    width: 100%;
    letter-spacing: 1px;
  }
  #about div.tag-container h3 {
    font-family: var(--font-brand);
  }
  #about div.tag-container div div h1 {
    letter-spacing: 1px;
    font-family: var(--font-brand);
  }
  #about div.tag-container div div p {
    letter-spacing: 0.5px;
    font-size: 1.15rem;
    font-family: var(--font-brand);
  }
  #about section.about-hero {
    min-height: 80vh;
    padding: 2rem 0rem;
    background-position: 50% 25%;
  }
  #about section.about-hero div.tag-container {
    padding: 1rem 0rem;
  }
  #about section.about-hero div.tag-container h3 {
    margin-left: 0.75rem;
    letter-spacing: 1px;
    font-size: 2rem;
  }
  #about section.about-hero div.tag-container div img {
    width: 100px;
    margin-right: 1rem;
  }
  #about section.about-hero div.tag-container div div h1 {
    letter-spacing: 1px;
    font-size: 4rem;
    font-family: var(--font-brand);
  }
  #about article.about-article {
    padding: 2rem;
  }
  #about article.about-article h2 {
    font-family: "Bebas Neue";
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #about article.about-article p {
    position: relative;
    padding: 2rem 4rem;
    align-self: center;
    text-align: center;
    font-family: "Poppins";
    isolation: isolate;
  }
  #about article.about-article p::before {
    content: '"';
    font-family: "Quicksand";
    color: #ff7e00;
    position: absolute;
    z-index: -1;
    font-size: 20rem;
    font-weight: 800;
    top: -100%;
    left: 0;
    opacity: 0.1;
  }
  #about section.about-gallery {
    margin: 2rem 0rem;
  }
  #about section.about-gallery h2 {
    margin: 2rem;
    text-align: center;
    font-family: var(--font-brand);
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #about section.about-gallery div.image-gallery {
    width: 100%;
    height: 25vh;
  }
  #about section.about-gallery div.image-gallery img {
    width: 25%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about section.about-cards figure.about-cards {
    margin: 0rem 1rem;
  }
  #about section.about-cards figure.about-cards img {
    width: 300px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about section.about-cards figure.about-cards figcaption {
    padding: 1rem;
    background-color: #f2f7f2;
  }
  #about section.about-cards figure.about-cards figcaption h3 {
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  #about div.about-service figure.about-service img {
    width: 50%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about div.about-service figure.about-service figcaption {
    background-color: #f2f7f2;
    padding: 2rem;
    width: 40%;
  }
  #about div.about-service figure.about-service figcaption h2 {
    font-family: var(--font-brand);
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #about div.about-service figure.about-service figcaption p {
    margin: 1rem 0rem;
    font-family: "Poppins";
    font-size: 1rem;
  }
  #about div.about-service button.contact-btn {
    margin: 2rem 0rem;
  }
}
@media screen and (max-width: 959px) {
  #about {
    padding-top: 3rem;
  }
  #about section.about-hero {
    background-position: center;
    min-height: 80vh;
  }
  #about section.about-hero div.tag-container {
    background: rgba(242, 247, 242, 0.5);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    width: 100%;
    letter-spacing: 1px;
    padding: 2rem 0rem;
  }
  #about section.about-hero div.tag-container h3 {
    margin-left: 0.75rem;
    letter-spacing: 1px;
    font-size: 2rem;
    font-family: var(--font-brand);
  }
  #about section.about-hero div.tag-container div {
    padding: 0rem 1rem;
  }
  #about section.about-hero div.tag-container div img {
    width: 100px;
    margin-right: 1rem;
  }
  #about section.about-hero div.tag-container div div h1 {
    letter-spacing: 1px;
    font-size: 4rem;
    font-family: var(--font-brand);
  }
  #about section.about-hero div.tag-container div div p {
    letter-spacing: 0.5px;
    font-size: 1.15rem;
    font-family: var(--font-brand);
  }
  #about article.about-article {
    width: 100%;
    padding: 2rem 0rem 0rem;
  }
  #about article.about-article h2 {
    font-family: "Bebas Neue";
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #about article.about-article p {
    position: relative;
    padding: 2rem 4rem;
    align-self: center;
    font-family: "Poppins";
    isolation: isolate;
  }
  #about article.about-article p::before {
    content: '"';
    font-family: "Quicksand";
    color: #ff7e00;
    position: absolute;
    z-index: -1;
    font-size: 20rem;
    font-weight: 800;
    top: -40%;
    left: 5%;
    opacity: 0.1;
  }
  #about section.about-gallery {
    margin: 2rem 0rem;
  }
  #about section.about-gallery h2 {
    margin: 2rem;
    text-align: center;
    font-family: var(--font-brand);
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #about section.about-gallery div.image-gallery {
    width: 100%;
    flex-wrap: wrap;
  }
  #about section.about-gallery div.image-gallery img {
    width: 50%;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about section.about-cards {
    flex-direction: column;
  }
  #about section.about-cards figure.about-cards {
    margin: 1rem 0rem;
  }
  #about section.about-cards figure.about-cards img {
    width: 300px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about section.about-cards figure.about-cards figcaption {
    padding: 1rem;
    background-color: #f2f7f2;
  }
  #about section.about-cards figure.about-cards figcaption h3 {
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  #about div.about-service figure.about-service {
    flex-direction: column;
  }
  #about div.about-service figure.about-service img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about div.about-service figure.about-service figcaption {
    background-color: #f2f7f2;
    padding: 2rem;
    width: 100%;
  }
  #about div.about-service figure.about-service figcaption h2 {
    font-family: var(--font-brand);
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #about div.about-service figure.about-service figcaption p {
    margin: 1rem 0rem;
    font-family: "Poppins";
    font-size: 1rem;
  }
  #about div.about-service button.contact-btn {
    margin: 2rem 0rem;
  }
}/*# sourceMappingURL=about.css.map */