#admin {
  padding-top: 6rem;
  min-height: 80svh;
  h1 {
    font-family: var(--font-brand);
    letter-spacing: 1px;
    text-align: center;
  }

  h3 {
    margin: 1rem 0rem;
    font-family: var(--font-brand);
    letter-spacing: 0.25px;
  }

  div.form-container {
    margin: 2rem 0rem;
    width: 16rem;
    padding: 1rem 2rem;
    background-color: var(--font-color-sec);
    label,
    input {
      font-family: "Poppins";
      font-size: 1rem;
      margin: 0.5rem 0.25rem;
    }

    label {
      text-transform: uppercase;
    }

    input {
      padding: 0.1rem 0.5rem;
    }

    button.button {
      margin: 1rem 0rem;
    }
  }

  div.product-list {
    ul {
      margin: 2rem;
      margin-top: 0;
      h2 {
        font-family: var(--font-brand);
        margin: 2rem 0rem;
        text-align: center;
        font-size: 2rem;
      }
      li.product-item {
        img {
          width: 50px;
          margin: 0rem 0.5rem;
          object-fit: contain;
        }
        h2 {
          font-family: var(--font-brand);
          margin: 0rem 0.5rem;
        }

        h3 {
          font-family: var(--font-brand);
          margin: 0rem 0.5rem;
        }

        h2,
        h3 {
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
}

@media screen and (max-width: 959px) {
}
