footer {
  background-color: #f2f7f2;
  div.footer-container {
    h1 {
      color: var(--bg-color-pri);
      font-family: var(--font-brand);
    }

    div.footer-contact,
    div.footer-hours {
      margin-bottom: 1rem;
      h2 {
        font-family: var(--font-brand);
        letter-spacing: 0.05rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      ul {
        li {
          font-size: 1rem;
        }
      }
    }

    div.footer-subscribe {
      h2 {
        font-family: var(--font-brand);
        letter-spacing: 0.05rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1rem;
      }

      input {
        font-family: var(--font-main);
        margin-right: 0.5rem;
        padding: 0.25rem 0.5rem;
        border: 1px solid var(--bg-color-pri);
      }

      button {
        background-color: #ff7e00;
      }

      div.footer-subscribe {
        ul.footer-social {
          li i {
            font-size: 1.5rem;
            margin: 0rem 0.5rem;
            color: #ff7e00;
          }
        }
      }
    }
  }
  div.footer-contact {
    font-family: var(--font-main);
  }
  span {
    font-family: var(--font-brand);
    letter-spacing: 0.025rem;
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 960px) {
  footer {
    padding: 1rem;
    color: var(--bg-color-pri);
    div.footer-container {
      width: 95%;
      max-width: 1340px;
      margin: 0 auto;
      padding: 1rem;

      div.footer-brand {
        img {
          width: 5rem;
        }
      }

      div.footer-subscribe {
        max-width: 25%;
        input {
          width: 60%;
        }

        ul.footer-social {
          margin-top: 0.5rem;
          li {
            padding: 0.075rem;
            font-size: 1rem;
            margin: 0rem 0.5rem;
            color: #ff7e00;
            cursor: pointer;
          }
          li:hover {
            padding-bottom: 0.075rem;
            border-bottom: 0.1rem solid var(--bg-color-pri);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  footer {
    padding: 1rem 3rem;
    color: var(--bg-color-pri);
    div.footer-container {
      flex-direction: column;

      div.footer-brand {
        margin-bottom: 1rem;
        img {
          margin-top: 1rem;
          width: 5rem;
        }
      }

      div.footer-subscribe {
        text-align: center;
        input {
          width: 100%;
        }

        ul.footer-social {
          justify-content: center;
          margin: 1rem;
          li {
            font-size: 1rem;
            margin: 0rem 0.5rem;
            color: #ff7e00;
          }
        }
      }
    }
  }
}
