@media screen and (min-width: 960px) {
  #burger-menu {
    display: none;
  }

  div.mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  div {
    #burger-menu {
      font-size: 1rem;
      margin-left: 2rem;
    }

    div.mobile-nav {
      display: none;
      position: absolute;
      padding: 2rem;
      top: 0;
      right: 0;
      z-index: 9;
      background-color: #a9adb2;
      height: 100vh;
      width: 80%;
    }
  }
}
